.container{
    width: 1000px;
    height: 500px;
    background-color: silver;
    margin: 0 auto;
}
.right{
    padding: 50px;
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    float: left;
    background-color: grey;

}
.left{
    width: 500px;
    height: 500px;
    float: left;
   
}
.elem{
    width: 200px;
    height: 20px;

}


.result{
    background-color: black;
    height: 50px;
    width: 200px;
    border: 2px black solid;

} 